section {
  text-align: center;
}

.mypage-update-container {
  background-color: white;
  position: absolute;
  width: 600px;
  max-height: 600px;
  margin-left: 50%;
  margin-top: 5%;
  transform: translate(-50%);
  transform-origin: left;
  z-index: 5;
  text-align: center;
  animation-name: mypage-update-appear;
  animation-duration: 1s;
  overflow: auto;
  padding: 30px;
}

@keyframes mypage-update-appear {
  0% {
    transform: scale(0.7) translate(-50%);
  }
  100% {
    transform: scale(1) translate(-50%);
  }
}

.mypage-moblie-container {
  width: 100%;
  height: 120%;
  background-color: black;
  position: absolute;
  z-index: 2;
  opacity: 0.5;
  transform: translateY(-15%);
}

.mypage-mobile-menu {
  width: 100%;
  height: 90vh;
  margin-bottom: 15%;
  overflow-y: auto;
  margin-left: 5%;
  position: absolute;
  z-index: 3;
  background-color: white;
  position: fixed;
  animation-name: mobile-appear;
  animation-duration: 1.2s;
}

@keyframes mobile-appear {
  0% {
    transform: translate(100%);
  }
  100% {
    transform: translate(0%);
  }
}

.mypage-mobile-update {
  z-index: 100;
}

.mypage-mobile-update-box {
  width: 90%;
  height: 100%;
  margin: auto;
}

.mypage-mobile-update-content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.mypage-mobile-update-content input {
  border: solid 0.5px lightgray;
  border-radius: 15px;
  text-align: center;
}

.mypage-mobile-gender-box {
  display: flex;
  width: 180px;
  justify-content: space-between;
}

.mypage-mobile-gender-btn {
  background-color: var(--main-color-2);
  border-radius: 25px;
  text-align: center;
  padding: 5px;
  font-weight: 500;
}

.mypage-mobile-gender-btn-select {
  border: solid 0.5px var(--main-color-2);
  border-radius: 25px;
  text-align: center;
  padding: 5px;
  background-color: var(--main-color-1);
  color: white;
  font-weight: 500;
}

.mypage-mobile-gender-btn:hover {
  background-color: var(--main-color-1);
}

.mypage-mobile-gender-btn:active {
  padding-left: 3px;
  padding-top: 3px;
  box-shadow: none;
}

.mobile-menu-logout-btn {
  margin-left: 80%;
  font-size: small;
  color: gray;
}

.mypage-mobile-menu-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: solid 0.5px lightgray;
  margin-bottom: 20px;
}

.mypage-mobile-menu-btn {
  font-size: 50px;
  margin-right: 20px;
}

.mypage-mobile-menu-btn svg {
  fill: var(--main-color-1);
  margin-bottom: 10px;
}

.mypage-mobile-menu-btn:active {
  padding-top: 3px;
  padding-left: 3px;
  box-shadow: none;
}

.mypage-bodytype-btn:active {
  margin-left: 3px;
  margin-top: 3px;
  box-shadow: none;
}

.mypage-mobile-menu-content {
  margin-top: 10px;
  padding: 20px;
}

.mypage-mobile-menu-content h3 {
  background-color: var(--main-color-2);
}

.mypage-mobile-menu-content div {
  margin-top: 20px;
}

.mypage-mobile-menu-content button:active {
  margin-left: 3px;
  margin-top: 3px;
  box-shadow: none;
}
.mypage-bodytype-header {
  text-align: center;
  padding: 20px;
}

.mypage-bodytype-btn {
  width: 16%;
  height: 150px;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--main-color-4);
  box-shadow: 3px 3px 3px grey;
  position: relative;
}

.mypage-bodytype-btn-select {
  background-color: var(--main-color-1);
}

.mypage-bodytype-btn img {
  width: 80%;
  height: 140px;
  position: absolute;
  top: 5px;
  left: 5px;
}

.mypage-submit-btn {
  transform: translateY(500%);
  margin-top: 50px;
  margin-bottom: 200px;
  background-color: antiquewhite;
  width: 100%;
}

.mypage-category-submit-btn {
  transform: translateY(-250%);
  margin-bottom: 0px;
}

.mypage-mobile-profie-btn {
  transform: translateY(-100%);
  margin-bottom: 40px;
}

.mypage-submit-btn:active {
  padding-top: 1px;
  padding-left: 1px;
  box-shadow: none;
}

.mypage-mobile-proposal-box {
  width: 100%;
  margin-top: 10px;
}

.mypage-mobile-category {
  margin-top: 50px;
}

.mypage-mobile-category p {
  text-align: center;
}

.mypage-mobile-profile {
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mypage-mobile-profile-h5 {
  padding-left: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: var(--main-color-3);
}

.mypage-mobile-profile img {
  background-size: cover;
  border-radius: 50%;
  width: 170px;
  height: 170px;
  border: solid 0.1px var(--main-color-1);
}

.mypage-mobile-profile-input {
  background-color: var(--main-color-2);
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
}

.mypage-mobile-profile-input:hover {
  background-color: var(--main-color-1);
}

.mypage-mobile-profile-input:active {
  padding-left: 3px;
  padding-top: 3px;
  box-shadow: none;
}

.mypage-mobile-profile-picture {
  position: relative;
}

.mypage-mobile-profile-picture button {
  position: absolute;
}

@media screen and (min-width: 576px) {
  .mypage-mobile-menu {
    display: none;
  }

  .mypage-moblie-container {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .mypage-update-container {
    display: none;
  }
}
