.mypage-modal-container {
  width: 100%;
  height: 160%;
  background-color: black;
  position: absolute;
  z-index: 2;
  opacity: 0.5;
  transform: translateY(-33%);
}

.mypage-follow-modal-container {
  width: 100%;
  height: 160%;
  background-color: black;
  position: absolute;
  z-index: 2;
  opacity: 0.5;
  transform: translateY(-33%);
}

.mypage-modal-box-information p {
  cursor: pointer;
}

.mypage-modal-box {
  width: 400px;
  height: 300px;
  background-color: white;
  z-index: 3;
  margin-left: 50%;
  position: absolute;
  transform: translate(-50%);
  transform-origin: left;
  margin-top: 100px;
  border: solid 1px lightgray;
  overflow-y: auto;
  overflow-x: hidden;
  animation-name: appear;
  animation-duration: 1s;
}

.mypage-follow-box {
  width: 400px;
  height: 300px;
  background-color: white;
  z-index: 3;
  margin-left: 50%;
  position: absolute;
  transform: translate(-50%);
  transform-origin: left;
  margin-top: 100px;
  border: solid 1px lightgray;
  overflow-y: auto;
  overflow-x: hidden;
  animation-name: appear;
  animation-duration: 1s;
}

@keyframes appear {
  0% {
    transform: scale(0.8) translate(-50%);
  }
  100% {
    transform: scale(1) translate(-50%);
  }
}

.mypage-modal-box-header {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px lightgray;
  padding: 5px;
}

.mypage-modal-box-header h5 {
  margin-left: 50%;
  transform: translate(-50%);
}

.mypage-modal-box-btn {
  padding: 0px 10px 0px 10px;
  font-weight: 600;
  font-size: large;
  border-radius: 10px;
  margin-right: 5px;
  background-color: white;
}

.mypage-modal-box-content {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.mypage-modal-box-information {
  display: flex;
  align-items: center;
}

.mypage-modal-box-information p {
  margin-left: 10px;
}

.mypage-modal-box-content img {
  width: 30px;
  height: 30px;
  background-size: cover;
  border-radius: 50%;
  margin: 5px;
}

.mypage-modal-box-content button {
  margin-right: 5%;
  padding: 5px;
  border-radius: 10px;
  color: white;
  background-color: var(--main-color-1);
  font-size: small;
}

.mypage-modal-box-content button:active {
  padding-left: 3px;
  padding-top: 3px;
  box-shadow: none;
}

@media screen and (max-width: 576px) {
  .mypage-modal-box {
    margin-top: 200px;
  }

  .mypage-modal-container {
    display: none;
  }
}
