.follow-container {
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  z-index: 2;
  opacity: 0.5;
}

.follower-box {
  width: 400px;
  height: 300px;
  background-color: white;
  z-index: 3;
  margin-left: 50%;
  position: absolute;
  transform: translate(-50%);
  margin-top: 100px;
  border: solid 1px lightgray;
  border-radius: 20px;
  overflow-y: auto;
  overflow-x: hidden;
}

.follower-box-header {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px lightgray;
}

.follower-box-header h5 {
  margin-left: 50%;
  transform: translate(-50%);
}

.follower-box-btn {
  padding: 0px 10px 0px 10px;
  font-weight: 600;
  font-size: large;
  border-radius: 10px;
  background-color: white;
}

.follower-box-content {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.follower-box-content p {
  margin-right: 55%;
}

.follower-box-content img {
  width: 30px;
  height: 30px;
  background-size: cover;
  border-radius: 50%;
  margin: 5px;
}

.follower-box-content button {
  margin-right: 5%;
  padding: 5px;
  border-radius: 10px;
  color: white;
  background-color: var(--main-color-1);
  font-size: small;
}

@media screen and (max-width: 576px) {
  .follower-box {
    margin-top: 200px;
  }
}
