.home-container {
  padding: 0;
}

.home-mobile-header {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.home-mobile-header > img {
  width: 250px;
  height: auto;
  display: block;
  margin: auto;
}

.home-mobile-header-alarm {
  position: absolute;
  top: 30px;
  right: 30px;
}

.home-content {
  margin-top: 60px;
  position: relative;
}

.home-popularMabcci {
  width: 100%;
}

.home-popularMabcci-title {
  margin-left: 20px;
  margin-bottom: 70px;
}

.home-popularMabcci-background {
  background: var(--main-color-1);
  width: 100%;
  height: 150px;
  margin-top: 80px;
}

.home-popularMabcci-web {
  width: 100%;
  position: absolute;
  top: 60px;
  left: 30px;
}

.home-popularMabcci-web > div {
  margin-right: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home-popularMabcci-web > div > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-popularMabcci-mobile {
  position: absolute;
  top: 0px;
  left: 60px;
}

.home-mabcci-web {
  margin-right: 25%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-mabcci-mobile {
  margin-bottom: 10px;
}

.home-mabcci-photo {
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
}

.home-popularMabcci-next {
  position: absolute;
  top: 110px;
  left: 290px;
}

.home-popularMabcci-before {
  position: absolute;
  top: 110px;
  right: 230px;
}

.home-swiper-container {
  width: 450px;
  height: 370px;
}

.home-swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.home-swiper-slide > div {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.swiper-button-prev {
  color: var(--main-color-2) !important;
}
.swiper-button-next {
  color: var(--main-color-2) !important;
}

/* 웹 */
@media screen and (min-width: 576px) {
  .home-mobile-header {
    display: none;
  }

  .home-popularMabcci-mobile {
    display: none;
  }
}

/* 모바일 */
@media screen and (max-width: 576px) {
  .home-popularMabcci-web {
    display: none;
  }
}
