.detail-container {
  padding-left: 10%;
}

.detail-header {
  text-align: left;
  margin-left: 10px;
}

.detail-title > h3 {
  color: var(--main-color-1);
  margin-top: 20px;
}

.detail-info {
  display: flex;
  flex-direction: row;
  max-width: 70%;
  margin-top: 30px;
  margin-bottom: 20px;
}

.detail-info-photo {
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
}

.detail-info-content {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.detail-info-content > p {
  margin: 2px;
}

.detail-ootd-photo > img {
  max-width: 70%;
  height: auto;
  position: relative;
  left: 10%;
  width: 100%;
}

.detail-ootd {
  position: relative;
  left: 10%;
  width: 100%;
}

.detail-ootd-like {
  margin: 10px;
}

.detail-ootd-heart {
  size: 100;
  cursor: pointer;
}

.detail-ootd-content {
  margin: 10px;
}

.detail-ootd-clothes {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.detail-ootd-clothes1 {
  margin-right: 15px;
  font-weight: bold;
}

.detail-bottom {
  position: relative;
  margin-top: 5%;
}

.detail-comments-title > h5 {
  color: var(--main-color-1);
  margin-bottom: 3%;
}

.detail-comments {
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
}

.detail-comment {
  display: flex;
  flex-direction: column;
}

.detail-comment-info {
  display: flex;
  flex-direction: row;
  margin-bottom: 2%;
}

.detail-comment-info-photo {
  margin-right: 2%;
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
}

.detail-comment-info-content > button {
  margin-right: 10px;
  background-color: var(--main-color-4);
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
}

.detail-comment-info-content > button:hover {
  color: var(--main-color-1);
  opacity: 1;
}

@media screen and (min-width: 576px) {
  .detail-title {
    display: none;
  }
}
