.logo-bar {
  width: 100%;
  height: 150px;
  background-color: white;
  display: block;
  text-align: center;
  position: relative;
}

.logo-bar a {
  text-decoration: none;
  color: #0f0e0e;
}

.logo-image {
  display: block;
  margin: 0px auto;
  width: 250px;
  height: 100%;
}

.btn-login {
  display: block;
  font-size: small;
  font-weight: 600;
  position: absolute;
  bottom: 70%;
  left: 75%;
  margin: auto;
}

.btn-linklink {
  color: green;
}

.menu-bar {
  width: 100%;
  height: 30px;
  background-color: white;
  display: block;
  border-width: 0px 0px 1px 0px;
  border-bottom-color: lightgrey;
  border-style: solid;
  font-weight: 500;
  text-decoration: none;
}

.menu-link {
  width: 576px;
  margin: auto;
}

.menu-bar a {
  text-decoration: none;
  color: #0f0e0e;
}

.mobile-navbar {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.mobile-menu-bar {
  background-color: white;
  height: 50px;
  border-width: 1px 0px 0px 0px;
  border-top-color: #faf9f8;
  border-style: solid;
  box-shadow: 5px 10px 8px 5px;
  text-align: center;
}

.mobile-menu-bar a {
  text-decoration: none;
  color: #0f0e0e;
}

/* .mobile-circle {
  display: block;
  margin: 0px auto;
  width: 180px;
  height: 80px;
  background-color: #faf9f8;
  clip-path: polygon(
    50% 69%,
    78% 78%,
    100% 100%,
    75% 100%,
    25% 100%,
    0 100%,
    22% 78%
  );
  /* clip-path: circle(50% at 50% 100%); */
/* position: relative;
} */

.mobile-menu-link {
  padding-top: 5px;
}

.mobile-menu-link p {
  font-size: x-small;
}

@media screen and (max-width: 576px) {
  .web-navbar {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .menu-link {
    width: 100%;
  }
}

@media screen and (min-width: 576px) {
  .mobile-navbar {
    display: none;
  }
}
