.mypage-entire {
  position: relative;
}

.mypage-container {
  min-width: 320px;
  max-width: 768px;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  position: relative;
}

.mypage-mobile-setting {
  background-color: white;
  text-align: end;
  margin-right: 5px;
  font-size: xx-large;
}

.mypage-profile-box {
  width: 80%;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.mypage-profile-inner {
  position: relative;
  transition: all 1s;
  transform-style: preserve-3d;
  margin-left: 10%;
  background-color: white;
}

.mypage-profile-inner-active {
  transform: rotateY(180deg);
  cursor: pointer;
}

.mypage-picture-btn {
  position: absolute;
  cursor: pointer;
}

.mypage-profile-box img {
  background-size: cover;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  backface-visibility: hidden;
  cursor: pointer;
  border: solid 0.1px var(--main-color-1);
}

.mypage-profile-bodyinfo {
  position: absolute;
  transform: rotateY(180deg);
  border-radius: 50%;
  width: 150px;
  width: 150px;
  background-color: white;
  border: 1px solid var(--main-color-1);
  height: 100%;
  text-align: center;
  display: flex;
  cursor: pointer;
  background-color: white;
}

.mypage-profile-bodyinfo img {
  width: 30%;
  height: 70%;
  margin: auto;
  margin-right: 0;
}

.mypage-profile-bodysize-secret {
  color: antiquewhite;
}

.mypage-profile-bodysize-noimage {
  margin-top: 40%;
  margin-left: 4%;
}

.mypage-profile-bodysize {
  margin: auto;
  font-weight: 700;
}

.mypage-info-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 200px;
}

.mypage-info-box div {
  display: flex;
  justify-content: space-around;
}

.mypage-info-box h5 {
  margin-right: 10px;
}

.mypage-info-box button {
  background-color: white;
}

.mypage-info-box button:active {
  padding-left: 3px;
  padding-top: 3px;
  box-shadow: none;
}

.mypage-introduce-box {
  width: 80%;
  margin: auto;
  margin-top: 30px;
  margin-left: 15%;
  text-align: start;
}

.mypage-introduce-box-null {
  color: lightgrey;
}

#mypage-web-nickname {
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

#mypage-web-nickname svg {
  margin-left: 10px;
  font-size: x-large;
}

#mypage-web-nickname svg:active {
  padding-left: 3px;
  padding-top: 3px;
  box-shadow: none;
}

#mypage-mobile-category {
  margin-top: 10px;
  margin-bottom: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

#mypage-follow-btn {
  margin-left: 20px;
  color: var(--main-color-3);
  background-color: skyblue;
  padding: 3px;
  border-radius: 10px;
}

#mypage-mabcci-styling-btn {
  margin-left: 20px;
  color: var(--main-color-3);
  background-color: var(--main-color-1);
  padding: 3px;
  border-radius: 10px;
}

#mypage-follow-btn:active {
  padding-left: 3px;
  padding-top: 3px;
  box-shadow: none;
}

.mypage-introduce-box p {
  font-weight: 900;
  color: var(--main-color-1);
}

.mypage-introduce-box div {
  background-color: var(--main-color-2);
  padding: 4px;
  border-radius: 5px;
}

.mypage-feed-container {
  border-top: solid 1px lightgray;
  margin-top: 30px;
}

.mypage-feed-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3px;
}

.mypage-feed-title {
  margin-top: 30px;
  margin-bottom: 15px;
  font-weight: 900;
  color: var(--main-color-1);
}

.mypage-feed {
  margin: 10px;
  background-size: cover;
  position: relative;
}

.mypage-feed img {
  width: 100%;
  border-radius: 10px;
  height: 250px;
}

.mypage-feed-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  text-align: center;
  opacity: 0;
}

.mypage-feed-overlay p {
  margin-top: 50%;
  font-weight: 400;
  color: white;
  opacity: 0.75;
}

.mypage-feed:hover {
  transform: scale(1.05);
  transition: all 1s;
  cursor: pointer;
}

.mypage-feed-overlay:hover {
  opacity: 1;
}

@media screen and (min-width: 576px) {
  #mypage-mobile-nickname {
    display: none;
  }
  .mypage-mobile-setting {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .mypage-profile-box {
    flex-direction: column;
    margin-bottom: 0;
    margin-top: 0;
  }

  .mypage-profile-box div {
    margin-bottom: 20px;
    justify-content: space-evenly;
  }

  .mypage-profile-box img {
    width: 35%;
    margin-bottom: 0;
  }

  .mypage-profile-inner {
    margin-left: 0;
    margin-top: 50px;
  }

  .mypage-profile-bodyinfo {
    width: 35%;
    height: 100%;
    margin-left: 32.5%;
  }

  .mypage-profile-bodyinfo img {
    margin-bottom: 13%;
    margin-left: 17%;
  }

  .mypage-profile-bodysize {
    margin-right: 15%;
    margin-top: 30%;
  }

  .mypage-blank {
    display: none;
  }

  #mypage-web-nickname {
    display: none;
  }

  #mypage-mobile-category h5 {
    margin-bottom: 10px;
  }

  .mypage-feed {
    margin: 2px;
  }

  .mypage-feed img {
    height: 190px;
  }

  .mypage-feed-container {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 40px;
  }
}
