.OOTDWrite-container {
  min-width: 320px;
  max-width: 768px;
  min-height: 100%;
  margin: 0 auto;
  background-color: var(--main-color-4);
  display: block;
  text-align: center;
}

.swiper-container {
  width: 80%;
  max-height: 50%;
}

.swiper-zoom-container img {
  background-size: hover;
  width: 60vh;
  height: 60vh;
}

.swiper-slide {
  overflow: hidden;
}
