.OOTDWrite-container {
  min-width: 320px;
  max-width: 576px;
  min-height: 100%;
  margin: 0 auto;
  background-color: white;
  display: block;
  text-align: center;
  margin-bottom: 100px;
}

.OOTDWrite-container h5 {
  margin-top: 30px;
  margin-bottom: 15px;
}

.swiper-zoom-container img {
  background-size: hover;
  width: 70vh;
  height: 70vh;
}

.swiper-slide {
  overflow: hidden;
}

.OOTDWrite-input-file {
  margin-top: 10px;
  padding: 6px 15px;
  background-color: var(--main-color-2);
  border-radius: 20px;
  color: black;
  cursor: pointer;
}

.OOTDWrite-input-file:hover {
  background-color: var(--main-color-1);
}

.OOTDWrite-input-file:active {
  padding-left: 3px;
  padding-top: 3px;
  box-shadow: none;
}

.OOTDWrite-input-box {
  width: 60vh;
  margin: 0 auto;
  margin-top: 30px;
}

.OOTDWrite-hash-input {
  width: 100%;
}

.OOTDWrite-input-box textarea {
  width: 100%;
  font-size: xx-small;
  border: 2px solid #f5f5f5;
  border-radius: 3px;
}

.OOTDWrite-input-brand {
  display: flex;
  justify-content: space-between;
}

.OOTDWrite-input-brand svg {
  margin-top: 5px;
}

.OOTDWrite-input-brand p {
  margin-right: 30px;
  font-weight: 800;
}

.OOTDWrite-input-brand input {
  font-size: xx-small;
  width: 65%;
  text-align: center;
  border-bottom: 2px solid #f5f5f5;
  border-radius: 3px;
}

.OOTDWrite-btn {
  border-radius: 0;
  margin-top: 30px;
}
