#container {
  min-width: 320px;
  max-width: 768px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

#container-login {
  min-height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#container-item {
  text-align: center;
}

.form-element {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-element input {
  margin: 10px;
  max-width: 400px;
  width: 60vw;
}

.passwordFind {
  margin: 15px;
}

.btn-transparent {
  margin: 5px;
  background-color: white;
  font-weight: bold;
}
