.signup-container {
  min-width: 320px;
  max-width: 400px;
  min-height: 100%;
  margin: 0 auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: stretch;
  text-align: center;
  margin-bottom: 100px;
}

.signup-title {
  color: var(--main-color-1);
  margin-top: 30px;
  margin-left: 20px;
}

.input-list {
  list-style: none;
  margin-top: 50px;
  margin-bottom: 40px;
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
}

.warnning-email {
  color: red;
  font-size: small;
  position: absolute;
  margin-left: 33%;
  margin-bottom: 49%;
}

.warnning-phone {
  color: red;
  font-size: small;
  position: absolute;
  margin-top: 7%;
  margin-left: 35%;
}

.warnning-password {
  color: red;
  font-size: small;
  position: absolute;
  margin-top: 70%;
  margin-left: 41%;
}

.warnning-password-length {
  color: red;
  font-size: small;
  position: absolute;
  margin-top: 62%;
  margin-left: 35%;
}

.input-list input {
  margin-bottom: 30px;
  width: 100%;
}

.phone-number {
  display: flex;
  justify-content: space-between;
}

.phone-number div {
  color: grey;
}

.phone-number input {
  width: 20%;
  border: 1px solid black;
  border-radius: 5px;
}

::placeholder {
  color: grey;
}

.select-man-woman {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.select-man-woman button {
  margin: 30px;
}

.btn-sex-select {
  max-width: 150px;
  width: 20vw;
  height: 25px;
  background-color: var(--main-color-1);
  box-shadow: 3px 3px 3px grey;
  border-radius: 50px;
  transition: all 0.1s;
  cursor: pointer;
  color: white;
}

.style-box {
  margin-top: 50px;
  margin-bottom: 50px;
}

.select-style {
  display: flex;
  justify-content: space-around;
}

.select-style button {
  margin: 5px;
}

.btn-select-style {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  cursor: pointer;
  background-color: var(--main-color-3);
  box-shadow: 3px 3px 3px grey;
  position: relative;
  transition: all 0.1s ease-in-out;
}

.btn-select-style img {
  width: 70px;
  height: 50px;
  position: absolute;
  top: 5px;
  left: 0;
  pointer-events: none;
  display: block;
}

.btn-select-style-active {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  cursor: pointer;
  background-color: var(--main-color-1);
  box-shadow: 3px 3px 3px grey;
  position: relative;
  transition: all 0.1s ease-in-out;
}

.btn-select-style-active img {
  width: 70px;
  height: 50px;
  position: absolute;
  top: 5px;
  left: 0;
  pointer-events: none;
  display: block;
}

.btn-select-style p {
  margin-bottom: 80px;
  pointer-events: none;
}

.btn-select-style:hover {
  background-color: var(--main-color-1);
  color: white;
}

.btn-select-style:active {
  padding-left: 3px;
  padding-top: 3px;
  box-shadow: none;
}

.btn-select-style-active:active {
  padding-left: 3px;
  padding-top: 3px;
  box-shadow: none;
}

.btn-signup-nonactive {
  max-width: 400px;
  max-height: 50px;
  width: 60vw;
  height: 15vh;
  background-color: var(--main-color-3);
  box-shadow: 3px 3px 3px grey;
  border-radius: 10px;
  color: black;
  pointer-events: none;
}

.choice-gender {
  pointer-events: none;
}

/* 반응형 */

@media screen and (max-width: 576px) {
  .input-list {
    width: 350px;
    margin: auto;
    margin-bottom: 40px;
  }
  .warnning-password-length {
    margin-top: 70%;
  }
  .warnning-password {
    margin-top: 80%;
  }
}
