# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Seongae\Desktop\SSAFY\2학기\프로젝트1\SUP_PJT_2\gitlab\S05P12C107\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
