.mypage-proposal-box-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  margin-left: 10px;
}

.mypage-proposal-box-info p {
  font-size: xx-small;
}

.mypage-proposal-box-info h5 {
  font-size: medium;
  font-weight: 500;
}

.mypage-review-box {
  z-index: 5;
  text-align: center;
}

.mypage-modal-box-btn {
  padding: 0px 10px 0px 10px;
  font-weight: 600;
  font-size: large;
  border-radius: 10px;
  background-color: white;
}

.mypage-modal-box-btn svg {
  margin-bottom: 3px;
}

.mypage-review-content {
  margin: 10px;
  height: 200px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: var(--main-color-2);
}

.mypage-review-content textarea {
  border: none;
  overflow-y: auto;
  background-color: #faf9f8;
}

#mypage-review-box-head {
  margin-left: 0%;
  margin-right: 35%;
  transform: translate(-50%);
}

.mypage-review-star-box {
  display: flex;
  justify-content: center;
}

.star-rating {
  display: flex;
  flex-direction: row-reverse;
  font-size: 2em;
  justify-content: space-around;
  padding: 0 0.2em;
  text-align: center;
  width: 4em;
}

.star-rating input {
  display: none;
}

.star-rating label {
  color: #ccc;
  cursor: pointer;
}

.star-rating :checked ~ label {
  color: var(--main-color-1);
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color: #fc0;
}

.mypage-mobile-menu {
  width: 80%;
  height: 100vh;
  margin: auto;
}

.mobile-menu-logout-btn {
  margin-left: 80%;
  font-size: small;
  color: gray;
}

.mypage-mobile-menu-header {
  display: flex;
  justify-content: start;
  align-items: center;
  border-bottom: solid 0.5px lightgray;
}

.mypage-mobile-menu-btn {
  font-size: 50px;
  margin-right: 20px;
}

.mypage-mobile-menu-btn svg {
  fill: var(--main-color-1);
  margin-bottom: 10px;
}

.mypage-mobile-menu-btn:active {
  padding-top: 3px;
  padding-left: 3px;
  box-shadow: none;
}

.mypage-mobile-menu-content {
  margin-top: 10px;
  padding: 20px;
}

.mypage-mobile-menu-content h3 {
  background-color: var(--main-color-2);
}

.mypage-mobile-menu-content div {
  margin-top: 20px;
}

.mypage-mobile-menu-content button:active {
  margin-left: 3px;
  margin-top: 3px;
  box-shadow: none;
}

.mypage-mobile-proposal-box {
  width: 100%;
  margin-top: 10px;
}
